<div class="relative overflow-hidden bg-no-repeat bg-cover max-w-xs" style="background-position: 50%;">
  <img src="https://mdbootstrap.com/img/Photos/Others/mewa.jpg" class="max-w-xs" />
  <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed bg-black opacity-50"></div>
</div>
