<div class="relative overflow-hidden bg-no-repeat bg-cover max-w-xs">
  <img src="https://mdbootstrap.com/img/Photos/Others/mewa.jpg" class="max-w-xs" />
  <a href="#!">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed bg-gray-900 opacity-60">
    </div>
  </a>
</div>
