@layout('layouts/example')

@section('content')
@include('partials/nav-hyperui')
<div class="flex m-8 p-8 justify-center items-center">
  @!component('components/examples/hyperui/dropdown')
</div>
@endsection
