@layout('layouts/example')

@section('content')
<div class="p-16 space-y-8">
  {{--  alert  --}}
  {{--  <div class="p-8">
    @!component('components/examples/tailwind/alert/index')
  </div>  --}}

  {{--  avatar  --}}
  {{--  <div class="p-8">
    @!component('components/examples/tailwind/avatar/index')
  </div>  --}}

  {{--  badges  --}}
  {{--  <div class="p-8">
    @!component('components/examples/tailwind/badges/index')
    @!component('components/examples/tailwind/badges/button')
    @!component('components/examples/tailwind/badges/colors')
    @!component('components/examples/tailwind/badges/pils')
    @!component('components/examples/tailwind/badges/sizes')
  </div>  --}}

  {{--  button group  --}}
  {{--  <div class="p-8 space-y-8">
    @!examples.tailwind.buttonGroup.active()
    @!component('components/examples/tailwind/button/basic')
    @!component('components/examples/tailwind/button/active')
    @!component('components/examples/tailwind/button/block')
    @!component('components/examples/tailwind/button/colors')
    @!component('components/examples/tailwind/button/disable')
    @!component('components/examples/tailwind/button/icon')
    @!component('components/examples/tailwind/button/outline')
    @!component('components/examples/tailwind/button/riple')
    @!component('components/examples/tailwind/button/sized')
  </div>  --}}

  {{--  card  --}}
  {{--  <div class="p-8 space-y-8">
    @!component('components/examples/tailwind/card/simple')
    @!component('components/examples/tailwind/card/image')
    @!component('components/examples/tailwind/card/rifle')
    @!component('components/examples/tailwind/card/header-footer')
    @!examples.tailwind.card.headerFooter()
    @!component('components/examples/tailwind/card/horizontal')
  </div>  --}}

  {{--  carousel  --}}
  {{--  @!examples.tailwind.carousel.basic()  --}}
  {{--  @!component('components/examples/tailwind/carousel/basic')
  @!component('components/examples/tailwind/carousel/slide')
  @!component('components/examples/tailwind/carousel/control')
  @!component('components/examples/tailwind/carousel/indicator')
  @!component('components/examples/tailwind/carousel/cross-fade')
  @!component('components/examples/tailwind/carousel/dark-variant')  --}}

  {{--  chart  --}}
  {{--  <div class="p-16 space-y-24">
    @!component('components/examples/tailwind/chart/line')
    @!component('components/examples/tailwind/chart/bar')
    @!component('components/examples/tailwind/chart/pie')
    @!component('components/examples/tailwind/chart/radar')
    @!component('components/examples/tailwind/chart/doughnut')
  </div>  --}}

  {{--  chips  --}}
  {{--  <div class="p-8 m-8 space-y-8">
    @!component('components/examples/tailwind/chips/basic')
    @!component('components/examples/tailwind/chips/outline')
    @!component('components/examples/tailwind/chips/sizing')
  </div>  --}}

  {{--  collapse  --}}
  {{--  <div class="m-8 p-8 space-y-8">
    @!component('components/examples/tailwind/collapse/basic')
    @!component('components/examples/tailwind/collapse/horizontal')
    @!component('components/examples/tailwind/collapse/multiple-target')
    @!component('components/examples/tailwind/collapse/with-scroll')
  </div>
</div>  --}}

  {{--  dropdown  --}}
  {{--  <div class="m-8 p-8 space-y-8">
    @!component('components/examples/tailwind/dropdown/basic')
    @!component('components/examples/tailwind/dropdown/link-button')
    @!component('components/examples/tailwind/dropdown/drop-right')
    @!component('components/examples/tailwind/dropdown/drop-left')
    @!component('components/examples/tailwind/dropdown/drop-up')
    @!component('components/examples/tailwind/dropdown/sizing')
    @!component('components/examples/tailwind/dropdown/menu-item-disabled')
    @!component('components/examples/tailwind/dropdown/menu-item-header')
    @!component('components/examples/tailwind/dropdown/menu-item-divider')
    @!component('components/examples/tailwind/dropdown/menu-item-text')
    @!component('components/examples/tailwind/dropdown/dark-dropdown')
  </div>  --}}

  {{--  gallery  --}}
  {{--  <div class="m-8 p-8 space-y-8">
    @!component('components/examples/tailwind/gallery/basic')
    @!component('components/examples/tailwind/gallery/carousel')
    @!component('components/examples/tailwind/gallery/mix')
  </div>  --}}

  {{--  headers  --}}
  {{--  <div class="m-8 p-8 space-y-8">
    @!component('components/examples/tailwind/headers/background-image')
    @!component('components/examples/tailwind/headers/jumbotron')
  </div>  --}}

  {{--  headings  --}}
  {{--  <div class="m-8 p-8 space-y-8">
    @!component('components/examples/tailwind/heading/basic')
  </div>  --}}

  {{--  hover effect  --}}
  {{--  <div class="m-8 p-8 space-y-8">
    @!component('components/examples/tailwind/hover-effect/basic')
    @!component('components/examples/tailwind/hover-effect/color')
    @!component('components/examples/tailwind/hover-effect/gradient')
    @!component('components/examples/tailwind/hover-effect/shadow')
    @!component('components/examples/tailwind/hover-effect/zoom')
  </div>  --}}

  {{--  icons  --}}
  {{--  <div class="m-8 p-8 space-y-8">
    @!component('components/examples/tailwind/icons/fix-with-icons')
    @!component('components/examples/tailwind/icons/sizing')
    @!component('components/examples/tailwind/icons/svg-icons')
  </div>  --}}

  {{--  images  --}}
  {{--  <div class="m-8 p-8 space-y-8">
    @!component('components/examples/tailwind/images/responsive')
    @!component('components/examples/tailwind/images/shadow-on-hover')
    @!component('components/examples/tailwind/images/shadow')
    @!component('components/examples/tailwind/images/shapes')
    @!component('components/examples/tailwind/images/thumbnails')
  </div>  --}}

  {{--  drawer / offcanvas
  <div class="p-8 m-8 space-y-8">
    @!component('components/examples/tailwind/drawer/basic')
  </div>  --}}

  {{--  drawer / offcanvas  --}}
  <div class="p-8 m-8 space-y-8">
    @!component('components/examples/tailwind/tabs/basic')
    @!component('components/examples/tailwind/tabs/fill')
  </div>
</div>
@endsection
