<div class="flex flex-wrap justify-center">
  <img src="https://mdbootstrap.com/img/new/standard/city/043.jpg"
    class="max-w-sm h-auto transition-shadow ease-in-out duration-300 shadow-none hover:shadow-xl" alt="" />
</div>
