@layout('layouts/example')

@section('content')
<div class="p-16 space-y-4">
  <div class="p-8">
    @!component('components/examples/tailwind/button/active')
  </div>

  <div class="p-8">
    @!component('components/examples/tailwind/button/basic')
  </div>

  <div class="p-8">
    @!component('components/examples/tailwind/button/block')
  </div>

  <div class="p-8">
    @!component('components/examples/tailwind/button/colors')
  </div>

  <div class="p-8">
    @!component('components/examples/tailwind/button/disable')
  </div>

  <div class="p-8">
    @!component('components/examples/tailwind/button/icon')
  </div>

  <div class="p-8">
    @!component('components/examples/tailwind/button/outline')
  </div>

  <div class="p-8">
    @!component('components/examples/tailwind/button/ripple')
  </div>

  <div class="p-8">
    @!component('components/examples/tailwind/button/sized')
  </div>
</div>
@endsection
