@layout('layouts/example')

@section('content')
<div class="p-16 space-y-8">
  <div class="p-8">
    @!component('components/examples/tailwind/card/header-footer')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/card/horizontal')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/card/image')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/card/ripple')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/card/simple')
  </div>
</div>
@endsection
