@layout('layouts/example')

@section('content')
<div class="p-16 space-y-8">
  <div class="p-8">
    @!component('components/examples/tailwind/chips/basic')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/chips/outline')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/chips/sizing')
  </div>
</div>
@endsection
