@layout('layouts/example')

@section('content')
<div class="p-16 space-y-8">
  <div class="p-8">
    @!component('components/examples/tailwind/drawer/basic')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/drawer/placement-bottom')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/drawer/placement-right')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/drawer/placement-top')
  </div>
</div>
@endsection
