@layout('layouts/example')

@section('content')
<div class="p-16 space-y-2">
  <div class="p-8">
    @!component('components/examples/tailwind/dropdown/basic')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/dropdown/dark-dropdown')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/dropdown/drop-left')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/dropdown/drop-right')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/dropdown/drop-up')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/dropdown/link-button')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/dropdown/menu-item-disabled')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/dropdown/menu-item-divider')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/dropdown/menu-item-header')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/dropdown/menu-item-text')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/dropdown/sizing')
  </div>
</div>
@endsection
