@layout('layouts/example')

@section('content')
<div class="p-16 space-y-8">
  <div class="p-8">
    @!component('components/examples/tailwind/headers/background-image')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/headers/jumbotron')
  </div>
</div>
@endsection
