@layout('layouts/example')

@section('content')
<div class="p-16 space-y-8">
  <div class="p-8">
    @!component('components/examples/tailwind/images/responsive')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/images/shadow-on-hover')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/images/shadow')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/images/shapes')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/images/thumbnails')
  </div>
</div>
@endsection
