@layout('layouts/example')

@section('content')
<div class="p-16 space-y-8">
  {{--  alert   --}}
  <div class="p-8">
    @!component('components/examples/tailwind/inputs/floating-text')
  </div>
</div>
@endsection
