@layout('layouts/example')

@section('content')
<div class="p-16 space-y-8">
  <div class="p-8">
    @!component('components/examples/tailwind/jumbotron/background-image-with-nav')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/jumbotron/background-image')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/jumbotron/basic')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/jumbotron/fix-navbar-with-background-image')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/jumbotron/fix-navbar')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/jumbotron/full-page-option')
  </div>
  <div class="p-8">
    @!component('components/examples/tailwind/jumbotron/with-nav')
  </div>
</div>
@endsection
